librosa~=0.11.0
numpy~=1.26.4
future~=1.0.0
psutil~=5.9.8
requests~=2.31.0
ollama~=0.2.1
openai~=1.79.0
tqdm~=4.66.4
pretty-midi~=0.2.10
music21~=9.5.0
ipython~=8.24.0
ansi2html~=1.9.2
torch~=2.7.0
torchaudio~=2.7.0
pandas~=2.2.3
matplotlib~=3.10.0
pydub~=0.25.1
transformers~=4.46.2
python-reapy
freesimplegui
